---
import { getPortfolioData } from "../../utils/data";
import NavLink from "./NavLink.astro";

const { navigation } = await getPortfolioData();
---

<div class="hidden items-center gap-6 font-basement md:flex">
	{navigation.main.map((link) => <NavLink href={link.href}>{link.text}</NavLink>)}
</div>
