---
import type React from "react";
import { Heading } from "../ui/heading";
import { Children } from "react";

interface Props {
  text?: string;
  title: string;
  subtitle?: string;
  subtitleText?: string;
  children?: React.ReactNode;
  fullHeight?: boolean;
}

const {
  title,
  subtitle,
  text,
  subtitleText,
  fullHeight = false,
  children,
} = Astro.props;
---

<section
  class={`bg-gray-50 dark:bg-gray-800 ${fullHeight ? "min-h-screen" : "pt-24 pb-8"} flex items-center`}
>
  <div class="container mx-auto px-4">
    <div class="mx-auto">
      {
        text && (
          <Heading level="h6" className={`text-xl  mb-4`}>
            {text}
          </Heading>
        )
      }

      <Heading
        level="h1"
        gradient
        shadow
        className={`${fullHeight ? "text-5xl md:text-7xl" : "text-4xl md:text-5xl"} mb-4`}
      >
        {title}
      </Heading>
      {
        subtitle && (
          <p
            class={`${fullHeight ? "font-bold text-xl md:text-2xl" : "text-xl"} text-black dark:text-white mb-2 `}
          >
            {subtitle}
          </p>
        )
      }
      {
        subtitleText && (
          <p class={` text-gray-600 dark:text-gray-400 max-w-sm mb-6`}>
            {subtitleText}
          </p>
        )
      }
      <slot />
    </div>
  </div>
</section>
