---
import { Heading } from "../ui/heading";
import { getPortfolioItems } from "../../utils/data";
import { AnimatedScrollSection } from "../AnimatedScrollSection";
const portfolioItems = await getPortfolioItems();
const filteredItems = portfolioItems.filter((item) => item.onHome);
const splitString = (str) => [
  str.slice(0, Math.ceil(str.length / 2)),
  str.slice(Math.ceil(str.length / 2)),
];
---

<section class="py-20 bg-white dark:bg-gray-800">
  <div class="container mx-auto px-4">
    <Heading
      level="h2"
      gradient
      floating
      backplate
      className="text-4xl text-center mb-12"
    >
      Selected Work
    </Heading>

    {
      filteredItems.map((item, index) => (
        <AnimatedScrollSection
          titleUp={splitString(item.title)[0]}
          titleDown={splitString(item.title)[1]}
          imageSrc={item.logo.src}
          text={item.tagline}
          layout={index + 1}
          imageWidth={300}
          imageHeight={400}
          client:load
        />
      ))
    }
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"></div>
  </div>
</section>
