---
import { Heading } from "../ui/heading";
import { getPortfolioItems } from "../../utils/data";
import { AnimatedScrollSection } from "../AnimatedScrollSection";
const portfolioItems = await getPortfolioItems();
const filteredItems = portfolioItems.filter((item) => item.onHome);
const splitString = (str) => {
  const words = str.trim().split(/\s+/); // Split by whitespace
  if (words.length > 1) {
    let remainder = str.slice(words[0].length).trim();
    if (remainder.startsWith("- ")) {
      remainder = remainder.slice(2).trim();
    }
    return [words[0], remainder];
  }
  return [str];
};
---

<section class="py-20 bg-white dark:bg-gray-800">
  <div class="container mx-auto px-4">
    {
      filteredItems.map((item, index) => (
        <AnimatedScrollSection
          titleUp={splitString(item.title)[0]}
          titleDown={splitString(item.title)[1]}
          imageSrc={item.logo.src}
          text={item.tagline}
          layout={index + 1}
          imageWidth={600}
          imageHeight={600}
          client:load
        />
      ))
    }
  </div>
</section>
