---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import { getPortfolioData } from "../utils/data";
import TimelineAbout from "../components/timeline/TimelineAbout";
import BoxReveal from "../components/ui/box-reveal";
import Link from "@/components/Link";
const { contact } = await getPortfolioData();
---

<Layout title="About">
  <Hero fullHeight title="About Me" img="/img/200925148-0.jpg">
    <div>
      <BoxReveal
        boxColor="bg-secondary-500"
        duration={0.1}
        delay={0.2}
        client:load
      >
        <p class="text-2xl dark:text-gray-300 mb-5">
          I'm a passionate full-stack developer with a keen eye for design and a
          drive for creating exceptional digital experiences.
        </p>
      </BoxReveal>
      <BoxReveal
        boxColor="bg-primary-500"
        duration={0.5}
        delay={0.2}
        client:load
      >
        <p class="dark:text-gray-300 text-xl">
          With years of experience in web development and design, I combine
          technical expertise with creative problem-solving to deliver
          innovative solutions.
        </p>
      </BoxReveal>
      <BoxReveal
        boxColor="bg-primary-500"
        duration={0.6}
        delay={0.3}
        client:load
      >
        <div>
          <Link
            href="https://www.linkedin.com/in/ehsanp/"
            target="_blank"
            className="mt-3"
            text="Reach me on LinkedIn."
          />
          <Link href="/cv" className="mt-3" text="Resume" />
        </div>
      </BoxReveal>
    </div>
  </Hero>
  <TimelineAbout client:load />
</Layout>
