---
import SocialLinks from "./footer/SocialLinks.astro";
import FooterNav from "./footer/FooterNav.astro";
import Copyright from "./footer/Copyright.astro";
---

<footer class="gradient-bg">
  <div class="container mx-auto px-4 py-12">
    <div class="grid gap-8 md:grid-cols-3">
      <FooterNav />
      <SocialLinks />
      <Copyright />
    </div>
  </div>
</footer>
