---
import MainNav from "./nav/MainNav.astro";
import ThemeToggle from "./ThemeToggle";
import HamburgerMenu from "./ui/Menu";
---

<header
  class="fixed w-full top-0 z-50 bg-white/80 dark:bg-neutral-900/80 backdrop-blur-md"
>
  <div class="container mx-auto px-4">
    <nav class="flex items-center justify-between h-16">
      <a href="/" class="text-2xl font-bold font-basement gradient-text-inv"
        >E.P.</a
      >
      <MainNav />
      <HamburgerMenu client:load />
      <ThemeToggle client:load />
    </nav>
  </div>
</header>
