---
import { getPortfolioData } from "@/utils/data";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import CertificateCard from "@/components/certificates/CertificateCard.astro";
import { Heading } from "@/components/ui/heading";

const { certifications } = await getPortfolioData();
---

<section
  class="py-20 bg-gray-50 dark:bg-neutral-900 w-full m-auto overflow-hidden"
>
  <div class="container mx-auto px-4">
    <Heading level="h3" gradient floating backplate client:idle>
      Certifications
    </Heading>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {
        certifications.map((cert, index) => (
          <CertificateCard {...cert} index={index} />
        ))
      }
    </div>
  </div>
</section>
