---
import { Heading } from "@/components/ui/heading";
import { getPortfolioItems } from "@/utils/data";
import { AnimatedScrollSection } from "@/components/AnimatedScrollSection";
import { motion } from "motion/react";

const portfolioItems = await getPortfolioItems();

const filteredAndSortedItems = portfolioItems
	.filter((item) => item.onHome)
	.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

function incrementAndSkip(index: number) {
	index += 1;
	if (index === 3) {
		index += 1; // Skip the number 3
	}
	return index;
}
---

<div class="bg-offwhite dark:bg-neutral-900">
	<div class="container mx-auto px-4">
		<Heading level="h2" gradient floating backplate className="pb-12" client:load>
			Selected Work
		</Heading>
	</div>
</div>

<section class="clip overflow-hidden bg-white dark:bg-neutral-800">
	{
		filteredAndSortedItems.map((item, index) => (
			<AnimatedScrollSection
				titleUp={item.title}
				imageSrc={item.cover?.src || item.logo.src}
				text={item.description}
				link={`/portfolio/${item.permalink}`}
				layout={index}
				imageWidth={item.cover?.width || item.logo.width}
				imageHeight={item.cover?.height || item.logo.height}
				client:load
			/>
		))
	}
</section>
