---
import Link from "@/components/Link";
import SkillsInfo from "@/components/Skillsinfo";
import StackCard from "@/components/StackCard";
import { Heading } from "@/components/ui/heading";

const { stacks } = Astro.props;
---

<section class="py-20">
  <div class="container mx-auto">
    <h2 class="text-4xl font-basement mb-12 text-primary text-center"></h2>
    <Heading
      level="h2"
      gradient
      floating
      backplate
      className="text-4xl text-center pb-12"
      client:idle
    >
      Stacks
    </Heading>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        stacks.map((stack, index) => (
          <StackCard {...stack} parentIndex={index} client:load />
        ))
      }
    </div>
    <SkillsInfo />
    <div class="text-center mt-12">
      <Link href="/skills" text="View All Stacks →" />
    </div>
  </div>
</section>
