---
import { getPortfolioData } from "../../utils/data";
import { Link } from "@/components/ui/Link";
const { navigation } = await getPortfolioData();
---

<div>
	<h3 class="mb-4 text-lg font-semibold text-white">Navigation</h3>
	<ul class="space-y-2">
		{
			navigation.footer.map((link) => (
				<li>
					<Link href={link.href} className="text-gray-100 hover:text-gray-200" client:load>
						{link.text}
					</Link>
				</li>
			))
		}
	</ul>
</div>
