---
import { getPortfolioData } from "../../utils/data";
import { ExternalLink } from "@/components/ui/ExternalLink";
const { contact } = await getPortfolioData();
---

<div>
	<h3 class="mb-4 text-lg font-semibold dark:text-white">Connect</h3>
	<div class="flex gap-4">
		{
			Object.entries(contact.socialLinks).map(([platform, url]) => (
				<ExternalLink href={url} showIcon={false} client:load>
					<span class="capitalize">{platform}</span>
				</ExternalLink>
			))
		}
	</div>
</div>
