---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ParallaxProvider } from "react-scroll-parallax";
import "../styles/index.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Developer Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap&family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-neutral-900 text-gray-900 dark:text-gray-100">
    <Header />
    <main class="min-h-screen">
      <slot />
      <Footer />
    </main>
    <script>
      document.addEventListener("astro:after-swap", function () {
        if (localStorage.getItem("theme") === "light") {
          document.documentElement.classList.toggle("dark", false);
        } else {
          document.documentElement.classList.toggle("dark", true);
        }
      });
    </script>
  </body>
</html>
